#myimage{
    border-radius: 100%;
    float: center;
}
.background{
    background-image:url(./portfoliobackground.jpg);
    width: auto;
    
}
.header1{
     text-align: center;
     color:whitesmoke;
     font-size: xx-large;
}

.welcomediv{
    flex-direction: column;
    color:whitesmoke;
    text-align: center;
    font-size: xx-large;
}
.textdiv{
    color:rgba(245, 245, 245, 0.925);
    flex-wrap: wrap;
    font-size: x-large;
    text-align: center;
}
.mainlist{
    top: 0;
    font-size: large;
    display: flex;
    flex-direction: row;
    color: rgb(9, 63, 45);
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    font-style: italic;
}
.navlist{
    top: 0;
    left: 0;
    left: 0;
    width: 100%;
    background-color: antiquewhite;
 
    
}
#homebutton{
    cursor: pointer;
    padding: 4px;
    font-size: large;
    border-radius: 2rem;
}
.boxsection{
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color:rgba(112, 180, 163, 0.671);
    
    
    
   
}
.maindiv{
    display: flex;
    flex-direction: column;
    background-color:rgb(10, 85, 85);
    font-size: large;
    align-items: center;
    width: 300px;
    height: 300px;
    justify-content: left;
    align-content:center ; 
    border: 20px;
    margin: 30px;
    
    

}
#buttonid{
    cursor: pointer;
    border-radius: 10px; ;
    font-size: x-large;
}
.converterdiv{
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 85, 85);
    justify-content: right;
    
}
.formdiv{
    padding: 10px;
   
}


