#myimage{
    border-radius: 100%;
    float: center;
}
.background{
    background-image:url(./portfoliobackground.jpg);
    
}
.header1{
     text-align: center;
     color:whitesmoke;
     font-size: xx-large;
}

.welcomediv{
    flex-direction: column;
    color:whitesmoke;
    text-align: center;
    font-size: xx-large;
}
.textdiv{
    color:rgba(245, 245, 245, 0.925);
    flex-wrap: wrap;
    font-size: x-large;
    text-align: center;
}
.mainlist{
    top: 0;
    font-size: large;
    display: flex;
    flex-direction: row;
    color: rgb(9, 63, 45);
    list-style-type: none;
    align-items: center;
    justify-content: space-evenly;
    font-size: x-large;
    font-style: italic;
}
.navlist{
    top: 0;
    left: 0;
    left: 0;
    width: 100%;
    background-color: antiquewhite;
 
    
}
#homebutton{
    cursor: pointer;
    padding: 4px;
    font-size: large;
}
