#myimage{
    border-radius: 100%;
    float: center;
}
.background{
    background-image: url(./pexels-pixabay-268533.jpg);
    background-color: blueviolet;
}
.header1{
     text-align: center;
     color:whitesmoke;
     font-size: xx-large;
}

.welcomediv{
    flex-direction: column;
    color:whitesmoke;
    text-align: center;
    font-size: xx-large;
}
.textdiv{
    color:whitesmoke;
    flex-wrap: wrap;
    font-size: x-large;
}